<div class="row">
    <div class="col-sm-12">
        <h1>Item Detail:</h1>
    </div>
</div>
<div *ngIf="errorMsg" class="alert alert-danger" role="alert">
  {{errorMsg}}
</div>
<div *ngIf="item">
    <div class="form-group row">
        <span class="col-xs-2 col-form-label">Id</span>
        <div class="col-xs-10">
            {{item.id}}
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-xs-2 col-form-label">Title</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" id="title" [(ngModel)]="item.title">
        </div>
    </div>
</div>
<br>
<a routerLink="../" class="btn btn-primary">Item list</a>
