<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="Pragma" content="no-cache">

        <meta name="description" content="">
        <meta name="author" content="">

        <title><%= webpackConfig.metadata.title %></title>
        <base href="<%= webpackConfig.metadata.baseUrl %>">

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <seed-app>
            Loading...
        </seed-app>
        <script type="text/javascript" src="assets/configs/config.js?t=<%= webpackConfig.metadata.timestamp %>"></script>
    </body>
</html>
